pin-depends: [
  [
    "cerberus.d7d4e67"
    "git+https://github.com/rems-project/cerberus.git#d7d4e67"
  ]
  [
    "cerberus-lib.d7d4e67"
    "git+https://github.com/rems-project/cerberus.git#d7d4e67"
  ]
  [
    "cn.d7d4e67"
    "git+https://github.com/rems-project/cerberus.git#d7d4e67"
  ]
]
